<div style="padding-bottom: {{ padding_bottom }};" class="video_play_controls {{class}}">
  <video x5-playsinline="true" playsinline="true" webkit-playsinline="true" poster="{{media.preview_image}}">
    {% if media.hls %}
      <source src="{{media.hls}}" type="application/x-mpegURL">
    {% endif %}
    {% if media.mp4 %}
      <source src="{{media.mp4}}" type="video/mp4">
    {% endif %}
  </video>
  <div class="video_pause_icon">{% include 'icon_video_play_large' %}</div>
</div>