{% assign p = collections[section.settings.collection.id].products %}
{% if section.settings.is_show_recommended_products != nil %}
  {% assign isShowRecommendedProducts = section.settings.is_show_recommended_products %}
{% else %}
  {% assign isShowRecommendedProducts = true %}
{% endif %}
{% if isShowRecommendedProducts %}
  {% if product.recommend_collection_id != nil %}
    {% if collections[product.recommend_collection_id]].products.size > 0%}
      {% assign p = collections[product.recommend_collection_id]].products %}
    {% endif %}
  {% endif %}
{% endif %}

{% if p.size > 0 or shop.env == 1 %}
  <div class="container container-gap">{% comment %} 卡片标题 {% endcomment %}
    {% if section.settings.name %}
      {% include 'card_title',
        title: section.settings.name,
        titlePath: 'name'
      %}
    {% endif %}
    {% assign grid = section.settings.grid | default: 4 %}
    {% case grid %}
      {% when 2 %}
        {% assign colMd="col-md-6"%}
      {% when 3 %}
        {% assign colMd="col-md-4"%}
      {% when 4 %}
        {% assign colMd="col-md-3"%}
      {% when 5 %}
        {% assign colMd="col-md-2_4"%}
      {% else %}
        {% assign colMd="col-md-3"%}
    {% endcase %}
    {% if grid == 2 %}
      {% assign col="col-12"%}
    {% else %}
      {% assign col="col-6"%}
    {% endif %}

    {% case section.settings.image_size %}
      {% when "small" %}
        {% assign imageHeight="100%" %}
      {% when "medium" %}
        {% assign imageHeight="121%" %}
      {% when "large" %}
        {% assign imageHeight="150%" %}
      {% when "auto" %}
        {% assign imageHeight="auto" %}
      {% else %}
        {% assign imageHeight="100%" %}
    {% endcase %}

    <div class="row common__product-row">
      {% comment %} 渲染C端节点 {% endcomment %}
      {% assign lineNumber = section.settings.line_number | times: grid %}
      {% assign showProductNum = 0 %}
      {% assign collection_id = section.settings.collection.id %}
      {% for block in p %}
        {% if showProductNum < lineNumber %}
          {% if block.published %}
            <div class="{{col}} {{colMd}} common__product-gap">
              {% include 'product',
                product: block,
                image_size: imageHeight %}
            </div>
            {% assign showProductNum = showProductNum | plus: 1 %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% comment %} 补充模拟数据 {% endcomment %}
      {% if shop.env == 1 %}
        {% assign num = lineNumber | minus: showProductNum %}
        {% for block in (1..num) %}

          <div class="{{col}} {{colMd}} common__product-gap">
            {% include 'product',
              product: default_product,
              image_size: imageHeight %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    {% if section.settings.view_all %}
      <div class="text-center">
        <a href="{{ section.settings.collection.url }}" class="btn btn-primary">{{ 'i18n.collections.general.all_of_collection' | t }}</a>
      </div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "products",
  "contentType": [
    "products"
  ],
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": {
        "en-US": "Collection",
        "zh-CN": "专辑"
      }
    },
    {
      "type": "text",
      "id": "name",
      "label": {
        "en-US": "Heading",
        "zh-CN": "标题"
      },
      "default": "Featured collection",
      "placeholder": {
        "zh-CN": "请输入内容",
        "en-US": "Input heading"
      }
    },
    {
      "type": "range",
      "label": {
        "zh-CN": "PC展示排数",
        "en-US": "Show rows on desktop"
      },
      "id": "line_number",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "label": {
        "zh-CN": "PC每排商品数",
        "en-US": "Show products per row on desktop"
      },
      "id": "grid",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "label": {
        "zh-CN": "图片高度",
        "en-US": "Image height"
      },
      "id": "image_size",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": {
            "zh-CN": "小",
            "en-US": "Small"
          }
        },
        {
          "value": "medium",
          "label": {
            "zh-CN": "中",
            "en-US": "Medium"
          }
        },
        {
          "value": "large",
          "label": {
            "zh-CN": "大",
            "en-US": "Large"
          }
        },
        {
          "value": "auto",
          "label": {
            "zh-CN": "原始比例",
            "en-US": "Natural"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "label": {
        "zh-CN": "显示”View all“",
        "en-US": "Show \"View all\""
      },
      "id": "view_all",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "products",
      "cname": {
        "zh-CN": "专辑商品",
        "en-US": "Collection products"
      },
      "category": {
        "en-US": "Product",
        "zh-CN": "商品"
      },
      "ccategory": {
        "en-US": "Product",
        "zh-CN": "商品"
      },
      "display": true,
      "is_show_recommended_products": true,
      "view_all": false,
      "blocks": []
    }
  ]
}
{% endschema %}